=title Perl 6 Tricks and Treats newsletter
=timestamp 2012-07-01T12:55:00
=keywords newsletter
=status show

Are you interested in Perl 6? Do you want to be notified when
there is a new article on the Perl 6 Maven web site? Maybe some other,
Perl 6 related news?

This newsletter started on in March 2009 on my personal web site (szabgab.com)
but as I am moving over all my Perl 6 related content to this new site,
I am going to move the mailing list as well.

Regarding <b>privacy</b> and your e-mail address: I will make all I can to protect your information.
The fact that you trust me by providing it in the subscription form makes me feel proud and
committed to keep it safe. After all, I don't want to lose your trust.

<h2>History</h2>

Originally I set up the list on 11th March 2009.
The first message and the first post was about <a href="/arrays-with-unique-values">Arrays with unique values</a>

I was not sure how I'd like to call this newsletter. I started with <b>Perl 6 code</b>
and then other ideas such as <b>bread crumbs</b> and <b>bait</b> came up. At one point I
was even thinking about <b>Gragger</b>, as I opened the list on the day of Purim,
but then my sister suggested <b>treats</b> and so we arrived to the expression
<a href="http://en.wikipedia.org/wiki/Trick-or-treating">Trick or treat</a>.

I loved the idea but I thought in our case tricks are also treats
so we should use <b>and</b> between the two words.

Anyway, tips would be also a good name but I did not want to
call it <b>Perl 6 Tips</b> as there already was a good
<a href="http://perltraining.com.au/tips/">Perl Tips</a> list focusing on Perl 5.

<!--
It's worth to <a href="http://perltraining.com.au/cgi-bin/mailman/listinfo/perl-tips">subscribe</a>
or read them on their web site.
This brings me to one of the things I can do on this list.
I can go over the various tips given by the folks at
<a href="http://perltraining.com.au/">Perl Training Australia</a>
and write the Perl 6 version
for some of them.
-->

