=title Starting again with Rakudo Perl 6
=timestamp 2012-06-27T19:56:00
=author szabgab
=keywords Rakudo
=status show
=index 1
=comments 1

=abstract start

I used <a href="http://perl6.org/">Perl 6</a> a while ago, I even taught it several times.

I even had <a href="http://www.wall.org/~larry/">Larry Wall</a> (author of Perl) and
<a href="http://www.pmichaud.com/">Patrick Michaud</a> (lead developer of Rakudo)
sit in my classes.

For various reasons I have not touched it in the last 12 month.

All this changed in the past week...

=abstract end

I got home from <a href="http://yapcna.org/">YAPC::NA</a> being very enthusiastic about <a href="http://perl6.org/">Perl 6</a> again.

I heard Patrick Michaud talk about the <b>10-fold speed improvement</b> of <a href="http://rakudo.org/">Rakudo</a> in the last year
and the fact they plan to provide <b>backward compability</b> or at least a <b>strong deprecation policy</b> for future releases
of Rakudo.

That's awesome.

It might be time to start again with Perl 6.

<h2>First steps in Perl 6</h2>

If you'd like to try Perl 6, my recommended way is to install Rakudo, the most advanced compiler/interpreter
of the language and go from there. For now I'll use a development version, not even a released version,
though later we'll cover those too.

Here are the steps you need to take:

<ul>
<li>Get and compile <a href="http://rakudo.org/">Rakudo</a> using the <a href="http://rakudo.org/how-to-get-rakudo/">instructions</a> on the Rakudo web site</li>
<li>Install <a href="https://github.com/tadzik/panda/">Panda</a>, the tool to install Perl 6 modules. (the beginning of
the CPAN client for Perl 6 packages.)</li>
<li>Install a module. for example type  <b>panda install HTML::Template</b></li>
<li>Read documentation ...</li>
</ul>

<h2>Read the Perl 6 documentation</h2>

That's easy to say but a bit hard to do. Currently it is quite scattered around. Here are a few resources you might want
to consider:

<ul>
<li><a href="http://perlcabal.org/syn/">The Official Perl 6 documentation</a></li>
<li><a href="http://tablets.perl6.org/">Perl 6 tablets</a></li>
<li><a href="http://perlgeek.de/en/article/5-to-6">Perl 5 to Perl 6 by Moritz Lenz</a></li>
<li><a href="http://modules.perl6.org/">List of Perl 6 modules</a></li>
<li><a href="https://github.com/perl6/book">Perl 6 community book</a></li>
<li><a href="/tutorial/">Perl 6 tutorial</a></li>
<li>... I might have forgotten a few others, find them on the <a href="http://perl6.org/">Perl 6</a> site.</li>
</ul>

That's a lot and quite unorganized pile of stuff. Along writing articles on this site, I am planning to
also pull in the documentation from all these places, where the license permits that, and try to create something
that will be useful for you too.


